*{
    padding: 0;
    margin: 0;
    line-height: 2;
    box-sizing: border-box;
    letter-spacing: 2px;
    color: #14505c;
    font-family: raleway
}

html{
    scroll-behavior: smooth;
}

nav{
    .navigation{
        .navbar-brand{
            color: #14505c;
        }
        .navbar-brand:visited{
            color: #14505c;

        }
    }
    .nav{
        .navbar-nav{
            li{
                .nav-link{
                    color: #14505c;
                }
                .nav-link:hover{
                    background: #14505c;
                    color: white;
                }
                .dropdown-menu{
                    li{
                        .dropdown-item{
                            color: #14505c;
                        }
                        .dropdown-item:hover{
                            background: #14505c;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
.up{
    position: fixed;
    bottom:5%;
    right:3%;
    z-index:2;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    width: 40px;
    height: 40px;
    color: #14505c;
    opacity: .5;
    background: none;
}
.up:hover{
    opacity: 1;
    transition: all .2s ease-in;
    background: none;
}
.one{
    background-image: url(/img/home1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h4{
        color: white;
    }
    h1{
        color: white;
        strong{
            color: white;
        }
    }
    button{
        background: #14505c;
        color: white;
        border: none;
        width: 160px;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    button:hover{
        background: #124049;
        transition: .2s all ease;
    }
    a{
        i{
            color: white;
            font-size: 1.5rem;
        }
    }
    
}
.two{
    h1{
        text-align: center;

    }
    .two-1{
        gap:2rem;
        .two-1-1{
            button{
                background: #14505c;
                border: none;
                color: white;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
            button:hover{
                background: #124049;
                transition: .2s all ease;
            }
        }
    }
    .about-1{
        width: 210px;
        height: 321px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .about-2{
        width: 280px;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}
.slider{
    
    .slides{
        h4{
            color: white;
            position: absolute;
            bottom:25%;
            right:15%;
        }
        span{
            color: white;
            position: absolute;
            bottom:5%
        }
        img{
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    }
}
.four {
    img{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    video{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    button {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background: #14505c;
        color: white;
        border: none;
        text-align: center;
        i{
            color: white;
        }
    }
    button:hover{
        background: #124049;
        transition: .2s all ease;
    }
}
.five{
    .five-one{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 1rem;
        img{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .rating {
            font-weight: 500;
        }
        .place {
            font-weight: 500;
        }
        .country{
            font-weight: 500;
            text-transform: capitalize;
        }
        button{
            background: #14505c;
            color: white;
            width: 120px;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            i{
                color: white;
            }
        }
        button:hover{
            background: #124049;
            transition: .2s all ease;
        }
    }
}
.six{
    .six-1{
        form{
            input{
                width: 400px;
            }
            button{
                color: white;
                background:#14505c;
                width: 120px;
                border: none;
            }
            button:hover{
                background: #124049;
                transition: .2s all ease;
            }
        }
    }
}
.seven{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
    place-items: center;
    img{
        width: 200px;
    }
}
.eight{
    a{
        color: #14505c;
        text-decoration: none;
        i{
            font-size: 1.5rem;
        }
    }
    a:hover{
        text-decoration: underline;
        transform: .3s all ease;
        color: #124049;
    }
    ul {
        list-style: none;
    }
}

@media (max-width:450px){
    .six{
        .six-1{
            form{
                input{
                    width: 80%;
                }
                button{
                    color: white;
                    background:#14505c;
                    width: 120px;
                    border: none;
                }
            }
        }
    }
}